@font-face {
  font-family: "GTAmerica";
  src: url('../public/font/GT-America-Regular.otf');
}

@font-face {
  font-family: "GTAmerica-Bold";
  src: url('../public/font/GT-America-Bold.otf');
}

body {
  margin: 0;
  font-family: "GTAmerica";
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: #151516;
}
